/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]serSettings/

/[Bb]uild/

/*.csproj
/*.csproj.user
/*.sln

/.vs/
/.idea/

/Assets/Plugins/Editor/JetBrains/
/Assets/Plugins/Editor/JetBrains.meta

/config.user.json

/SAU_Plugins/

/Assets/ExportedAssets/
/Assets/ExportedAssets.meta
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
